{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'narocnine/css/style.css' %}">
    <script src="{% static 'narocnine/js/login.js' %}"></script>
</head>

<body>
<div class="container">
    <h2>Welcome</h2>

    <!-- LOGIN FORM -->
    <form id="loginForm">
        <input type="text" id="login-username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button id="login-button" type="button">Login</button>
    </form>

    <!-- REGISTER FORM -->
    <form id="registerForm" style="margin-top:20px;">
        <input type="text" id="firs_name" placeholder="First Name" required>
        <input type="text" id="last_name" placeholder="Last Name" required>
        <input type="text" id="username" placeholder="Username" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="reg-password" placeholder="Password" required>
        <button id="register-button" type="button">Register</button>
    </form>

    <!-- ADMIN LOGIN -->
<a href="/admin/"
   style="display:block; text-align:center; margin-top:20px;
          background-color:#ff0000; color:white; padding:10px; border-radius:4px; text-decoration:none;">
    Admin
</a>
    <div id="login-message" style="color:red; margin-top:10px;"></div>
    <div id="register-message" style="color:red; margin-top:10px;"></div>

</div>

</body>

</html>
