{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link rel="stylesheet" href="{% static 'narocnine/css/profile.css' %}">
    <script src="{% static 'narocnine/js/profile.js' %}" defer></script>
</head>
<body>
    <div class="profile-container">
        <h2 class="profile-title">Profile</h2>
        <div class="profile-card">
            <img src="{% static 'narocnine/images/img.png' %}" class="profilepic">
            <div class="profile-info">
                <p>Email</p>
                <input type="text" name="email">
                <p>Username</p>
                <input type="text" name="username">
                <p>First Name</p>
                <input type="text" name="firs_name">
                <p>Last Name</p>
                <input type="text" name="last_name">
                <p>Password</p>
                <input type="text" placeholder="******">
                <div class="profile-buttons">
                    <button type="button" id="update">Update</button>
                    <button type="button" id="return">Back</button>
                    <button type="button" id="delete">Delete</button>
                    <button type="button" id="insert">change picture</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
